<div class="recommends">
  <% current_user.recommends.each do |recommend| %>
    <span class="recommend"><%= recommend %></span>
  <% end %>
</div>

<%= render(TaskSchedule::Component.new(user: current_user)) %>

<%= render(StartButton::Component.new(context: StartButton::Component::STARTED_BY_REDO)) %>

<hr>
<section>
  <h2>会員登録いただくと、上記予定のチェックリストが提供されます。</h2>
  <p class="message">チェックリストを完了していくと、雇用保険受給資格者証を受け取るまでの進行度や、より正確な初回の給付金振込予定日がわかるようになります。</p>
  <%= render(GoogleButton::Component.new(context: 'signup', state: current_session.token)) %>
</section>
