<%= render(Profile::Component.new(record: Current.user.profile)) %>

<%= render(TaskSchedule::Component.new(user: Current.user)) %>

<%= render(StartButton::Component.new(caption: 'やりなおす')) %>

<section>
  <h3>会員登録いただくと、より正確に給付がいつ頃受けられるか、初回の失業認定日までの予定がわかります。</h3>
  <%= render(GoogleButton::Component.new(context: 'signup', state: Current.session.token)) %>
</section>
