<div class="recommends grid">
  <% current_user.recommends.each do |recommend| %>
    <span class="recommend"><%= recommend %></span>
  <% end %>
</div>

<%= render(TaskSchedule::Component.new(user: current_user)) %>

<%= render(StartButton::Component.new(context: StartButton::Component::STARTED_BY_REDO)) %>

<hr>
<section>
  <h2>会員登録いただくと、より正確に給付がいつ頃受けられるか、初回の失業認定日までの予定がわかります。</h2>
  <%= render(GoogleButton::Component.new(context: 'signup', state: current_session.token)) %>
</section>
