<section>
  <h2 class="timeline">今後の予定とやること</h2>

  <ul class="timeline">
    <% tasks_with_category.each do |category, tasks| %>
      <li>
        <h3><%= tasks.first.about_when %></h3>

        <% tasks.each do |task| %>
          <%= simple_format(h(task.title), {}, wrapper_tag: 'p') %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
