<section>
  <%= help_message(title: '今後の予定は次のとおりです。') %>

  <table>
    <thead>
      <tr>
        <th>いつ頃</th>
        <th>なにをどうする</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
        <tr>
          <td><%= task.about_when %></td>
          <%= simple_format(task.title, {}, wrapper_tag: 'td') %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
