<p>今後の予定は次のとおりです。完了したらチェックを入れてください。</p>

<% tasks_with_category.each do |category, tasks| %>
  <section class="todo">
    <h2><%= tasks.first.about_when %></h2>

    <%= render(Task::Component.with_collection(tasks)) %>
  </section>
<% end %>

<section class="done">
  <h2>完了分</h2>

  <% if done_tasks.blank? %>
    <p>完了した予定はありません。</p>
  <% end %>

  <% done_tasks.each do |task| %>
    <label>
      <%= check_box(:task, :done, checked: true, disabled: true) %>
      <%= task.title %>
    </label>
  <% end %>
</section>
