<section>
  <hgroup class="transfer-schedule">
    <p>初回の給付金振込予定日</p>
    <h2><%= @scheduled_transfer_label %></h2>
    <p></p>
  </hgroup>

  <% if @tasks_with_category.blank? %>
    <%= render(TransferSchedule::Component.new(user: current_user)) %>
  <% else %>
    <%= render(partial: 'tasks', locals: { tasks_with_category: @tasks_with_category, done_tasks: @done_tasks }) %>
  <% end %>
</section>
