<section>
  <hgroup>
    <p>初回の給付金振込予定日は</p>
    <h2><%= @scheduled_transfer_label %></h2>
    <p>です。</p>
  </hgroup>
</section>

<% if @tasks_with_category.blank? %>
  <%= render(TransferSchedule::Component.new(user: Current.user)) %>
<% else %>
  <%= render(partial: 'tasks', locals: { tasks_with_category: @tasks_with_category, done_tasks: @done_tasks }) %>
<% end %>
