<article>
  <h1>プライバシーポリシー</h1>

  <ol>
    <li>雇用保険給付の相棒（ <%= root_url %> ）という名称のサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。</li>
  </ol>

  <h2>1. 収集する利用者情報及び収集方法</h2>

  <ol>
    <li>本ポリシーにおいて、「利用者情報」とは、ユーザーの識別に係る情報、通信サービス上の行動履歴、その他ユーザーまたはユーザーの端末に関連して生成または蓄積された情報であって、本ポリシーに基づき運営者が収集するものを意味するものとします。<br>本サービスにおいて運営者が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。</li>
    <ol>
      <li>ユーザーからご提供いただく情報<br>本サービスを利用するために、または本サービスの利用を通じてユーザーからご提供いただく情報は以下のとおりです。</li>
      <ul>
        <li>本サービスと連携する外部サービスでユーザーが利用するID、メールアドレス、その他特定の個人を識別することができる情報</li>
        <li>ユーザー自身の健康等に関する情報（ユーザーの病気やケガに関する情報を含みます。）</li>
        <li>入力フォームその他運営者が定める方法を通じてユーザーが入力または送信する情報</li>
      </ul>
      <li>ユーザーが本サービスを利用するにあたって、運営者が収集する情報<br>運営者は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。これには以下の情報が含まれます。</li>
      <ul>
        <li>リファラ</li>
        <li>IPアドレス</li>
        <li>サーバーアクセスログに関する情報</li>
        <li>Cookie、ご利用の端末情報および広告ID、OS情報、位置情報、ブラウザ情報、ブラウザ設定等を含むユーザーの通信に関する情報</li>
      </ul>
    </ol>
  </ol>

  <h2>2. 利用目的</h2>

  <ol>
    <li>本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下のとおりです。</li>
    <ol>
      <li>本サービスに関する登録の受付、本人確認、ユーザー認証、ユーザー設定の記録、本サービスの提供、維持、保護及び改善のため</li>
      <li>ユーザーのトラフィック測定及び行動測定のため</li>
      <li>広告の配信、表示及び効果測定のため</li>
      <li>本サービスに関するご案内、お問い合わせ等への対応のため</li>
      <li>本サービスに関する運営者の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため</li>
      <li>本サービスに関する規約等の変更などを通知するため</li>
    </ol>
  </ol>

  <h2>3. 外部送信、情報収集モジュールの有無</h2>

  <ol>
    <li>本サービスでは、以下の提携先または情報収集モジュール提供者が、ユーザーの端末にCookieを保存し、これを利用して利用者情報を蓄積及び利用している場合があります。また、Cookie は、提携する広告配信サービス提供会社における行動ターゲティング広告の配信に使用される場合があります。</li>
  </ol>

  <table>
    <thead>
      <tr>
        <th>提携先または情報収集モジュール提供者</th>
        <th>提携先または情報収集モジュール提供者の情報</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Google Analytics</td>
        <td>
          利用規約：<br>https://marketingplatform.google.com/about/analytics/terms/jp/
          <hr>
          プライバシーポリシー：<br>https://policies.google.com/privacy?hl=jp
        </td>
      </tr>
    </tbody>
  </table>

  <h2>4. 第三者提供</h2>

  <ol>
    <li>運営者は、利用者情報のうち、個人情報については、あらかじめユーザーの同意を得ないで、第三者（日本国外にある者を含みます。）に提供しません。但し、次に掲げる必要があり第三者（日本国外にある者を含みます。）に提供する場合はこの限りではありません。</li>
    <ol>
      <li>運営者が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
      <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
      <li>第3項の定めに従って、提携先または情報収集モジュール提供者へ個人情報が提供される場合</li>
      <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼすおそれがある場合</li>
      <li>その他、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の法令で認められる場合</li>
    </ol>
  </ol>

  <h2>5. 個人情報の開示</h2>

  <ol>
    <li>運営者は、ユーザーから、個人情報保護法の定めに基づき個人情報の開示を求められたときは、ユーザーご本人からのご請求であることを確認の上で、ユーザーに対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、運営者が開示の義務を負わない場合は、この限りではありません。なお、個人情報の開示につきましては、手数料（1件あたり1,000円）を頂戴しておりますので、あらかじめ御了承ください。</li>
  </ol>

  <h2>6. 個人情報の訂正及び利用停止等</h2>

  <ol>
    <li>運営者は、ユーザーから、 (1) 個人情報が真実でないという理由によって個人情報保護法の定めに基づきその内容の訂正を求められた場合、及び (2) あらかじめ公表された利用目的の範囲を超えて取扱われているという理由または偽りその他不正の手段により収集されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止を求められた場合には、ユーザーご本人からのご請求であることを確認の上で遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正または利用停止を行い、その旨をユーザーに通知します。なお、訂正または利用停止を行わない旨の決定をしたときは、ユーザーに対しその旨を通知いたします。</li>
    <li>運営者は、ユーザーから、ユーザーの個人情報について消去を求められた場合、運営者が当該請求に応じる必要があると判断した場合は、ユーザーご本人からのご請求であることを確認の上で、個人情報の消去を行い、その旨をユーザーに通知します。</li>
    <li>個人情報保護法その他の法令により、運営者が訂正等または利用停止等の義務を負わない場合は、第6項1号および第6項2号の規定は適用されません。</li>
  </ol>

  <h2>7. お問い合わせ窓口</h2>

  ご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせは、以下の窓口までお願いいたします。

  <address>
    employmate.app＠gmail.com
  </address>

  なお、会員退会済みのユーザーの場合は、一定期間経過および所定の手続が完了次第、運営者が管理するデータベースから会員退会済みのユーザーの情報を削除します。

  <h2>8. プライバシーポリシーの変更手続</h2>

  <ol>
    <li>運営者は、必要に応じて、本ポリシーを変更します。但し、法令上ユーザーの同意が必要となるような本ポリシーの変更を行う場合、変更後の本ポリシーは、運営者所定の方法で変更に同意したユーザーに対してのみ適用されるものとします。なお、運営者は、本ポリシーを変更する場合には、変更後の本ポリシーの施行時期及び内容を運営者のウェブサイト上での表示その他の適切な方法により周知し、またはユーザーに通知します。</li>
  </ol>

  <hr>
  <aside>
    2023年05月29日 制定・同日施行
  </aside>
</article>
