<div id="g_id_onload" data-client_id="<%= client_id %>" data-context="signin" data-ux_mode="redirect" data-login_uri="<%= sessions_url %>" data-auto_prompt="false">
</div>

<div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signin_with" data-size="large" data-locale="ja" data-logo_alignment="left">
</div>
