<section id=<%== question_id.to_json %> hidden="hidden">
  <%= render(field_component.new(survey_id:, question_id: id, subject: body, description: title, required:)) %>

  <hr>
  <%= link_to('戻る', back_survey_question_path(survey_id:, id:), data: { action: 'click->survey-profiles#back:prevent' }) %>
  <%= link_to('次へ', next_survey_question_path(survey_id:, id:), data: { action: 'click->survey-profiles#next:prevent' }) %>
</section>
