<%= turbo_frame_tag(frame_id, hidden: true) do %>
<section>
  <%= render(field_component.new(record_name: "answers[#{id}]", subject: body, description: title, required:)) %>

  <hr>
  <%= button_tag('戻る', formaction: back_survey_question_path(survey_id:, id:), data: { action: 'click->survey-profiles#hide', frame_id: }, formnovalidate: true) %>
  <%= button_tag('次へ', formaction: next_survey_question_path(survey_id:, id:), data: { action: 'click->survey-profiles#hideWithValid', frame_id: }) unless automatable? %>
</section>
<% end %>
