/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --font-family: 'BIZ UDPGothic', sans-serif;
  --primary: hsl(42deg 59% 51% / 100%) !important;
  --primary-hover: hsl(42deg 90% 32%) !important;
  --primary-focus: rgb(245 239 230 / 12.5%) !important;
}

body > header,
body > footer {
  padding: 1rem 0;
  text-align: center;
}

body > header {
  background-color: #f5efe6;
}

body > header > h1 {
  font-size: 1.25em;
  margin-bottom: 0;
}

body > main {
  padding: 1rem 0;
}

body > footer {
  border-top: var(--border-width) solid var(--blockquote-border-color);
}

body > footer a,
body > footer button {
  font-size: 14px;
  padding: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);
}

body > footer form {
  margin-bottom: 0;
  display: inline-block;
}

body > footer p {
  margin-top: var(--typography-spacing-vertical);
}

button[role='link'] {
  --background-color: transparent;
  --border-color: transparent;
  --color: var(--primary);
  --border-width: 0;
}
