.survey section hgroup:first-child {
  --font-size: 0.75rem;
}

.survey h1 {
  --font-size: 0.75rem;
  --font-weight: 400;
}

.survey label {
  --form-label-font-weight: 700;
}

label.overtime {
  text-align: right;
}

label.with-radio,
label.with-checkbox {
  --border-color: var(--form-element-border-color);
  --color: var(--form-element-color);

  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--background-color);
}

label.with-radio {
  padding: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);
}

label.with-checkbox {
  padding: calc(var(--form-element-spacing-vertical) * 1.5)
    var(--form-element-spacing-horizontal);
}

.grid {
  align-items: baseline;
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
}

.grid label.with-radio {
  text-align: center;
}

section label.with-radio:last-child {
  margin-bottom: var(--spacing);
}

label.with-radio:hover:not(:has(input:disabled)),
label.with-checkbox:hover:not(:has(input:disabled)) {
  cursor: pointer;
}

input[type='number'].overtime {
  text-align: right;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

button.visit-start-page,
button.show-prev-question {
  text-align: left;
  display: inline-block;
  padding: 0;
  margin-bottom: var(--spacing);
}

table.task-schedule th,
table.task-schedule td,
table.transfer-schedule th {
  font-size: var(--discreet-font-size);
}

table.task-schedule tr th:first-child,
table.task-schedule tr td:first-child {
  padding-left: 0;
  padding-right: 0;
}
