label {
  --form-label-font-weight: 700;
}

label.overtime {
  text-align: right;
}

label.with-radio,
label.with-checkbox {
  --border-color: var(--form-element-border-color);
  --color: var(--form-element-color);

  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--background-color);
}

label.with-radio {
  padding: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);
}

label.with-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: calc(var(--form-element-spacing-vertical) * 1.5)
    var(--form-element-spacing-horizontal);
}

.grid {
  align-items: baseline;
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
}

.grid label.with-radio {
  text-align: center;
}

.grid label.with-radio input {
  margin-left: 0;
  margin-right: 0;
}

.grid label.with-radio span {
  display: block;
}

section label.with-radio:last-child {
  margin-bottom: var(--spacing);
}

label.with-radio:hover:not(:has(input:disabled)),
label.with-checkbox:hover:not(:has(input:disabled)) {
  cursor: pointer;
}

input[type='number'].overtime {
  text-align: right;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

input[data-controller='date-field'],
input[data-controller='month-field'] {
  --icon-position: 0.75rem;
  --icon-width: 1rem;

  padding-right: calc(var(--icon-width) + var(--icon-position));
  background-image: var(--icon-date);
  background-position: center right var(--icon-position);
  background-size: var(--icon-width) auto;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.flatpickr-current-month input[type='number'] {
  text-align: center;
}

button.visit-start-page::before,
button.show-prev-question::before,
button.show-next-question::after {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

button.visit-start-page::before,
button.show-prev-question::before {
  content: '\f053';
  margin-right: var(--kerning);
}

button.show-next-question::after {
  content: '\f054';
  margin-left: var(--kerning);
}

button.visit-start-page,
button.show-prev-question {
  text-align: left;
  display: inline-block;
  padding: 0;
  margin-bottom: var(--spacing);
}

form:has(button.visit-start-page) {
  margin-bottom: 0;
}

.recommends {
  justify-items: center;
  margin-bottom: var(--typography-spacing-vertical);
}

.recommend {
  --border-radius: 5rem;
  --border-color: var(--primary-hover);
  --background-color: transparent;
  --color: var(--primary-hover);

  max-width: 200px;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--discreet-font-size);
  font-weight: 900;
  line-height: var(--line-height);
  text-align: center;
  pointer-events: none;
  padding: calc(var(--form-element-spacing-vertical) / 2)
    var(--form-element-spacing-horizontal);
}

h2.timeline {
  text-align: center;
  padding-top: var(--typography-spacing-vertical);
}

/* See: https://bootsnipp.com/snippets/xrKXW */
ul.timeline {
  position: relative;
}

ul.timeline::before {
  content: ' ';
  background-color: var(--primary-timeline);
  display: inline-block;
  position: absolute;
  width: calc(var(--timeline-size) / 10);
  height: 100%;
}

ul.timeline > li {
  margin: var(--spacing) 0;
  padding-left: var(--spacing);
  list-style: none;
}

ul.timeline > li::before {
  content: ' ';
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: var(--primary-timeline);
  left: calc(var(--timeline-size) / 2);
  width: var(--timeline-size);
  height: var(--timeline-size);
}

ul.timeline > li > h3 {
  color: var(--primary);
}

ul.timeline > li > p {
  font-size: 0.625rem;
}

table.transfer-schedule th {
  font-size: var(--discreet-font-size);
  min-width: calc(var(--discreet-font-size) * 4.5);
}
