main.welcome h2 {
  font-size: 18px;
}

main.welcome h3 {
  margin-top: 3rem;
  font-size: 16px;
}

main.welcome h2,
main.welcome h3 {
  margin-bottom: 0.5rem;
}

main.welcome section {
  margin-bottom: 0;
}

article > ol, article p, article address {
  margin-left: 1rem;
}

article ul li {
  list-style-type: square !important;
  margin-left: 2em;
}

article ol > ol > li {
  list-style-type: none;
  counter-increment: listCounter;
}

article ol li:only-of-type {
  list-style-type: none;
}

article ol > ol {
  counter-reset: listCounter;
}

article ol > ol > li::before {
  content: '(' counter(listCounter) ') ';
}
