<%= form_with(model: [:survey, @approval || @issuance], data: { controller: 'survey-tasks' }) do |form| %>
  <h1><%= @questions.first.questionnaire.title %></h1>

  <%= render(partial: 'question', collection: @questions, as: :question,
             locals: { user: Current.user }) %>

  <%= form.submit '完了にする' %>
<% end %>
