<%= fields_for(record_name) do |f| %>
  <hgroup>
    <p><%= description %></p>
    <h2><%= f.label(:value, subject) %></h2>
    <p></p>
  </hgroup>

  <%= f.select(:value, choices, { include_blank: '選択してください。' }, required:) %>
<% end %>
