<hgroup>
  <p><%= description %></p>
  <h2><%= subject %></h2>
  <p></p>
</hgroup>

<% 6.times do |i| %>
  <% name = "#{record_name}[values][#{i}]" %>
  <%= label_tag(name) %>
  <%= number_field_tag(name, 0, class: 'overtime', required:, max: 720, min: 0, step: 1, placeholder: 60) %>
<% end %>
